<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="console" xsi:type="Console" />
        <target name="infoFile" xsi:type="File" fileName="${basedir}/logs/info/${shortdate}/infoLogs.txt" />
        <target name="warningsFile" xsi:type="File" fileName="${basedir}/logs/warnings/${shortdate}/warningLogs.txt" />
        <target name="errorsFile" xsi:type="File" fileName="${basedir}/logs/errors/${shortdate}/errorsLogs.txt" />
        <target name="debugsFile" xsi:type="File" fileName="${basedir}/logs/debugs/${shortdate}/debugsLogs.txt" />


    </targets>
    <rules>
        <!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />-->
        <logger name="*" levels="Info" writeTo="infoFile" />
        <logger name="*" levels="Warn" writeTo="warningsFile" />
        <logger name="*" levels="Error" writeTo="errorsFile" />
        <logger name="*" levels="Debug" writeTo="debugsFile" />
    </rules>
</nlog>